.container{
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 25px;
  max-width: 60%;
  height: 92vh;
  border-radius: 3px;
  border: 1px solid #555;
  background-color: #fff;
  transition: 1s ease;
}

.title {
  margin: 15px;
  color: #222;
  font-size: 1.5em;
  font-weight: 700;
}

.closeMobile{
  position: absolute;
  top: 22px;
  right: 22px;
  width: 20px;
  height: 20px;
  border: none;
  background-color: transparent;
  background-size: cover;
}

.info{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  box-shadow: 0 10px 5px #eee;
}

.companyName{
  display: block;
  margin: 0;
  color: #555;  
}

.location{
  color: black;
  display: flex;
}

.location::before{
  content: "";
  display: table;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  background-image: url("https://cdn-icons-png.flaticon.com/512/3179/3179068.png");
  background-size: cover;
}

.postedDate{
  font-size: 0.9em;
  font-weight: 600;
}

.description{
  margin: 15px;
}

.subtitle{
  font-size: 1.1em;
  font-weight: 600;
}

.text{
  color: #222;
  width: 100%;
}

@media (max-width: 650px) {
  .container {
    position: fixed;
    top: 0;
    max-width: 100%;
    margin-right: 0;
    z-index: 4;
  }
  .closeMobile{
    position: absolute;
    top: 22px;
    right: 22px;
    width: 20px;
    height: 20px;
    border: none;
    background-color: transparent;
    background-image: url("https://cdn-icons-png.flaticon.com/512/1828/1828778.png");
    background-size: cover;
  }
}
